{% extends 'base.html' %}

{% block title %}
    Accounts
{% endblock title %}

{% block content %}
    <main>
        <h1>Accounts</h1>
            <table>

                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
                {% for item in account_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.number }}</td>
                    <td>{{ item.receipts.count }}</td>

                </tr>
                {% endfor %}
            </table>
    </main>
{% endblock content %}
