{% extends 'base.html' %}

{% block title %}
    Categories
{% endblock title %}

{% block content %}
    <main>
        <h1>Categories</h1>
            <table>

                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
                {% for item in category_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.receipts.count }}</td>

                </tr>
                {% endfor %}
            </table>
    </main>
{% endblock content %}
